* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
    flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 20px 50px 50px;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}
nav h2 {
  flex: 1;
  margin-right: 30px;
  color: #25a4ad;
}
.navOption ul {
    flex-wrap: wrap;
  display: flex;
  list-style: none;
  gap: 20px;
}
#signin {
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
  transition: all 0.7s;
}
#signin:hover {
  color: #25a4ad;
}
#signup {
  border-radius: 5px;
  padding: 7px;
  color: #25a4ad;
  font-size: 20px;
  font-weight: bold;
  border: #25a4ad solid 1px;
  background-color: white;
  transition: all 0.7s;
}
#signup:hover {
  color: white;
  background-color: #25a4ad;
}

.navOption {
  display: flex;
  list-style: none;
  flex: 9;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero1 {
  background-color: black;
  background: url("./imges/1.png");
  background-size: cover;
  background-position: center;
}
.hero1 {
    flex-wrap: wrap;
  display: flex;
  align-self: center;
  padding: 20px;
}
.hero1text {
    flex-wrap:wrap ;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero1text h1 {
  font-size: 64px;
}
.hero1text button {
  border-radius: 5px;
  padding: 7px;
  color: #25a4ad;
  font-size: 20px;
  font-weight: bold;
  border: #25a4ad solid 1px;
  background-color: white;
  transition: all 0.7s;
  width: fit-content;
}
.hero1text button:hover {
  color: white;
  background-color: #25a4ad;
}
.underImage {
    padding: 50px;
padding-left: 150px;
background-color: #F8F8F8;
}