*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(216, 213, 213);
}
ul{
  background: #000;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;

}
li,h1 ,p{
  background: #000;
}
.nav , .card{
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #000;
  color: aliceblue;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 50px;
    padding-left: 100px;
    margin: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
}